/* You can add global styles to this file, and also import other style files */
@import "../stylings/theme";
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI" !important;
    h1 {
        font-size: $h1-fontsize !important;
    }
    h2 {
        font-size: $h2-fontsize !important;
    }
    h3 {
        font-size: $h3-fontsize !important;
    }
    h4 {
        font-size: $h4-fontsize !important;
    }
    h5 {
        font-size: $h5-fontsize !important;
    }
    h6 {
        font-size: $h6-fontsize !important;
    }

    // Scroll Bar
    // ==========================================================================

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 50px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
